<p>
  login works!
</p>
<div>
  <!--#username 引入方式， 形成数据单向传递给model-->
  <!--<input class="login" type="text" name="" value="">-->

  <!--2. 双向数据绑定， 实现数据的双向传递-->

  <!-- 放置在一个表单中-->
  <form #formRef="ngForm">
    <fieldset ngModelGroup="login">
      <input type="text" class="login"
        name="username" 
        [(ngModel)]="username" 
        #usernameRef="ngModel" 
        required
        placeholder="hello"
        />

      <!--{{usernameRef.errors | json}}-->

      <div *ngIf="usernameRef.errors?.required">
        this is required
      </div>

      <input type="text" class="login"
        name="password"
        [(ngModel)]="password" 
        #passwordRef="ngModel" 
        required 
        minlength="3"
        />

      <!--{{passwordRef.errors | json}}-->
      <div *ngIf="passwordRef.errors?.required">
        this is required
      </div>
      <div *ngIf="passwordRef.errors?.minlength">
        should be at least 3 characters
      </div>

      <!--<button (click)="Click()" type="submit">submit</button>-->
      <button type="submit" (click)="onSubmit(formRef.value)">Login</button>
    </fieldset>
  </form>

  <!--1. #userinfo, 引入的方式实现模板和组件的数据交互-->
  <!--<input #userinfo class="login" type="text" name="" value="">
  <input #password type="text" class="login">-->

  <!--2. 双向数据绑定方式实现数据交互-->
  <!--<input [(ngModel)]="username" required #userinfoRef="ngModel" type="text" class="login">{{userinfoRef.errors | json}}
  <input [(ngModel)]="password" required #passwordRef="ngModel" minlength="3" type="text" class="login">{{passwordRef.errors | json}}
  <button (click)="Click()" type="submit">submit</button>-->

</div>